/** @format */
/*
	General styling, layout agnostig classes and rules
*/
* {
	&[data-text-transform="uppercase"] {
		text-transform: uppercase;
	}
}

html {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	// overflow-x: hidden; // probably causing the infinite scroll issue on chrome android
	overflow-x: visible; // posible fix
}

::selection {
	// background: narrojo(.75);
	// color: color(blanco);
}
::-moz-selection {
	// background: narrojo(.75);
	// color: color(blanco);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: font(second);
	line-height: 1em;
}
i {
	&[class*="fa-"] {
		font-size: 1em;
		&:before,
		&:after {
			font-size: inherit;
		}
	}
}
.emoji {
	display: inline;
	width: 1.4em;
	height: 1.4em;
	margin-bottom: -0.3em;
	font-size: inherit;
	user-select: none; // unselectable
	touch-action: manipulation; // disables tap zoom
}
/*inicia img styling*/
img {
	display: block;
	overflow: hidden;
	color: color(blanco);
	&:before {
		content: "\f7a9";
		font-family: font(awesome);
		font-weight: 900;
		color: color(narrojo);
		font-size: 72px;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 10px;
		@include linear-gradient(135deg, #d4d4d4 0, #00b6ff 500%);
		@include box-sizing(border-box);
		@include flexbox(column, nowrap, center, center);
	}
}
/*termina img styling*/

.hidden {
	display: none;
}
.no-results {
	p {
		color: color(negro, 0.6);
		text-align: center;
	}
}
code {
	background: color(negro);
	padding: 0 5px;
	word-break: break-word;
	white-space: pre-wrap;
	@include border-radius(3px);
}
blockquote {
	color: color(greentext);
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	margin: 0;
	padding: 0;

	&:before {
		content: ">";
	}

	& > p {
		display: inline-block;
		color: inherit !important;
	}
}
.controls {
	@include flexbox(row, nowrap, flex-end, center);
	> * {
		margin-left: 15px;
	}
	._line {
		color: color(negro, 0.6);
	}
}
.icon {
	width: auto;
	@include flexbox(row, nowrap, center, center);

	$logoSizes: 100, 55, 50, 45, 40, 35, 30, 25, 20, 15;
	@each $size in $logoSizes {
		&[data-size="_#{$size}"] {
			height: #{$size}px;
			font-size: #{$size}px;
			object-fit: contain;
			max-width: 1.8em;
			object-position: 50% 50%;
		}
	}
}
.holder {
	margin: 0 auto;
	width: 100%;
	padding: 40px;
	@include box-sizing(border-box);

	&[data-position="left"] {
		margin-left: 0;
		margin-right: auto;
	}

	&[data-position="center"] {
		margin-left: auto;
		margin-right: auto;
	}

	&[data-position="right"] {
		margin-left: auto;
		margin-right: 0;
	}

	$holderSizes: 1400, 1366, 1200, 1080, 980, 880, 780, 580, 480;
	@each $size in $holderSizes {
		&[data-size="_#{$size}"] {
			max-width: #{$size}px;
		}
	}
	@media all and (max-width: 720px) {
		padding: 20px;

		&[data-y-padding~="no"] {
			padding: 0;
		}
	}
}
.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	// background: color(blanco);
	background-size: cover;
	background-repeat: no-repeat;
	&[data-position~="fixed"] {
		position: fixed;
	}
	img,
	video {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		object-position: 50% 50%;
	}
}
